* {
    box-sizing: border-box;
    font-family: Lato;
}

body {
    padding: 0px;
    margin: 0px;
    background: #fbfcff 0% 0% no-repeat padding-box;
    color: #363434;
}

#cart-main-cont {
    margin-bottom: 100px;
    padding: 50px 0px 80px 0px
}

.cart-row {
    display: flex;
    gap: 20px
}

.cart-column-1 {
    flex-basis: 70%
}

.cart-column-2 {
    flex-basis: 30%;
    align-self: stretch;
    background: #eeeeee 0% 0% no-repeat padding-box;
}

.column-1-main-head {
    font-size: 40px;
    margin: 0px;
    padding-bottom: 20px
}

.desc-head-cont {
    border-top: 1px solid #aeaeae;
    border-bottom: 1px solid #aeaeae;
    display: flex;
    font-size: 18px;
    padding: 20px 0px;
}

.desc-head-1 {
    flex-basis: 55%;
    text-align: left
}

.desc-head-2 {
    flex-basis: 15%;
    text-align: center
}

.desc-content-cont {
    display: flex;
    font-size: 18px;
    padding: 20px 0px;
    border-bottom: 1px solid #aeaeae;
    gap: 20px;
}

.desc-content-column1 {
    flex-basis: 55%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.desc-content-column2 {
    flex-direction: column;
    flex-basis: 15%;
}

.desc-content-column2 {
    color: #1388e5;
}

.desc-column1-img {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.desc-column1-head {
    font-weight: 600;
    color: #363434
}

.col-2-head {
    padding: 40px 30px;
    font-weight: 700;
}

.col-2-text {
    margin: 0px;
    padding: 0px
}

#shipping-head {
    margin-bottom: 20px;
}



.number-input {
    border: 1px solid #D2D2D2;
    outline: none;
    font-size: 16px;
    width: 90px;
    height: 40px;
    border-radius: 10px;
    padding: 5px 10px;
}

.remove-button {
    color: #D2D2D2;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.custom-select {
    appearance: none;
    background-color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    color: black;
    width: 100%;
}

.custom-select::after {
    content: '\25BC';
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    pointer-events: none;
}

.custom-select:focus {
    outline: none;
}

.checkout-button:hover {
    background-color: #0e6bbf;
}

@media screen and (max-width: 1300px) {
    #cart-main-cont .parent-max-width {
        max-width: 1100px;
    }

}

@media screen and (max-width: 1100px) {
    #cart-main-cont .parent-max-width {
        max-width: 900px;
    }
}

@media screen and (max-width: 992px) {
    #cart-main-cont .parent-max-width {
        max-width: 700px;
    }
}

@media screen and (max-width: 768px) {
    #cart-main-cont .parent-max-width {
        max-width: 100%;
    }

    .cart-row {
        flex-wrap: wrap;
        padding: 0px 20px;
    }

    .cart-column-1 {
        flex-basis: 100%;
        overflow-x: auto;
    }

    .cart-column-2 {
        flex-basis: 100%;
        align-self: stretch;
        background: #eeeeee 0% 0% no-repeat padding-box;
    }

    .table-container {
        overflow-x: auto;
        overflow-y: hidden;
        min-width: 300px;
        white-space: nowrap;
    }

    .desc-head-1,
    .desc-head-2 {
        flex: 1;
    }
    .desc-column1-img img{
        width: 200px !important;
    }
}