* {
    box-sizing: border-box;
    font-family: Lato;
}

.number-input {
    border: 1px solid #D2D2D2;
    outline: none;
    font-size: 16px;
    width: 90px;
    height: 40px;
    border-radius: 10px;
    padding: 5px 10px;
}

.remove-button {
    color: #D2D2D2;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.custom-select {
    appearance: none;
    background-color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    color: black;
    width: 100%;
}

.custom-select::after {
    content: '\25BC';
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    pointer-events: none;
}

.custom-select:focus {
    outline: none;
}

.checkout-button:hover {
    background-color: #0e6bbf;
}