* {
    box-sizing: border-box
}

.gap {
    margin-bottom: 100px
}

.filter-cont {
    display: flex;
}

.filter-col1 {
    flex-basis: 30%
}

.filter-col2 {
    flex-basis: 70%
}

.filter-col2-cont {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: space-between;
}

.filter-item-cont {
    display: flex;
    align-items: center;
    gap: 20px
}

.filter-item-col {
    display: flex;
    align-items: center;
    gap: 10px
}

.products-cont {
    border-top: 1px solid #0000001a;
    margin-top: 20px
}

.products-wrapper {
    display: flex;
}

.products-col1 {
    flex-basis: 30%;
    border-right: 1px solid #0000001a;
    margin-top: 10px;
}

.filter-col2-cont p {
    margin-bottom: 0px;
}

.filter-item-col select:focus {
    border: none;
}

.products-col2 {
    flex-basis: 70%;
}

.top-rated-cont {
    margin-top: 5rem
}

.top-rated-head {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 2rem;
}

.top-product-cont {
    display: flex;
    flex-direction: column;
    gap: 30px
}

.single-product-cont {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}

.single-img-cont {
    box-shadow: 0px 3px 6px #00000029;
    background-color: #fff;
    display: flex;
    justify-content: center;
    padding: 5px 0px;
    align-items: center;
    height: 120px;
    width: 120px;
}

.product-rating-cont {
    font-size: 15px;
    margin: 5px 0px;
    color: #ffd60c;
}

.cards-wrapper {
    padding: 5rem 20px
}

.products-container {
    gap: 10px !important;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    z-index: -100;
}

.product-card {
    border-radius: 0px !important;
    padding: 30px 20px !important
}

.product-card-head {
    margin: 0px;
    font-weight: 700
}

.product-ratings {
    font-size: 20px;
    margin: 5px 0px;
    color: #ffd60c;
}

.product-card .product-desc-cont {
    display: flex;
    align-items: center;
    gap: 10px
}

.product-desc-text {
    color: #1388e5;
    font-weight: 700;
    margin-top: 0px;
}

.product-card-btn-cont {
    display: flex;
    gap: 10px;
    /* width: 100%; */
}

.product-card-btn {
    padding: 5px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    z-index: 200;
    font-family: Lato;
    font-weight: 500;
    border-radius: 0px;
    font-size: 14px;
}



.grid-icon {
    display: flex;
    flex-direction: column;
    gap: 1px;
    cursor: pointer;
}

.row-grid {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1px;
}

.row-grid i {
    font-size: 5px;
}

.filter-item-col p {
    margin-bottom: 0rem;
}

.column-wrapper {
    display: flex;
}

.grid-icon {
    cursor: pointer;
}

.left-col-desc{
    padding: 0px 5px;
}

@media screen and (max-width: 1300px) {
    .gap .parent-max-width {
        max-width: 1100px;
    }
}

@media screen and (max-width: 1100px) {
    .gap .parent-max-width {
        max-width: 900px;
    }
    .products-container {
        gap: 10px !important;
        flex-wrap: wrap;
    }

    .cards-wrapper {
        padding: 5rem 5px
    }
}
@media screen and (max-width: 992px) {
    .gap .parent-max-width {
        max-width: 750px;
    }
    .cards-wrapper {
        padding: 5rem 0px
    }
}

@media screen and (max-width: 768px) {
    .column-wrapper {
        display: flex;
        flex-direction: column-reverse;
    }

    .left-col-desc {
        display: none;
    }

    .filter-col2-cont {
        display: flex;
        align-items: center;
        gap: 10px;
        justify-content: space-between;
        flex-direction: column;
    }

    .filter-item-cont {
        display: flex;
        align-items: flex-end;
        flex-direction: column;
        gap: 20px;
        width: 100%;
        padding: 0px 20px;
    }

    .filter-col1 {
        flex-basis: 0%
    }

    .filter-col2 {
        flex-basis: 100%
    }

    .products-col1 {
        padding: 0px 20px;
    }
    .product-card-btn {
        border-radius: 0px !important;
        padding: 5px 10px !important
    }
    .product-card-btn p {
        margin-bottom: 0rem;
    }
    .product-ratings {
        font-size: 15px;
    }
    
}