.color-circle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
}

.size-box {
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.tabs {
    display: flex;
    align-items: center;
}

.tab {
    cursor: pointer;
    padding: 10px 20px;
    margin-right: 20px;
    transition: all 0.011s ease;
    font-size: 20px;
}

.tab.selected {
    border-bottom: 5px solid #1388E5;
    border-radius: 5px;
}

.tabContent {
    display: none;
    transition: transform 0.5s ease;
    position: absolute;
    top: 0;
    left: 0;
}

.text-area{
    border: 1px solid #D2D2D2;
      border-radius: 10px;
      padding: 8px;
      width: 100%; /* Adjust width as needed */
      height: 150px; /* Adjust height as needed */
      resize: vertical; /* Allow vertical resizing */
      box-shadow: 0px 3px 6px #00000029;
}
.text-area:focus{
    outline: none;
}