* {
    box-sizing: border-box;
    font-family: Lato;
}

.lato_heavy {
    color: #fff;
    font-weight: 900;
}

/* Header */
.alert-container {
    background-color: #1388e5;
    padding-top: 20px;
}

.parent-max-width {
    max-width: 1300px;
    margin: 0px auto
}

.parent-max-width2 {
    max-width: 1200px;
    margin: 0px auto
}

.parent-max-width3 {
    max-width: 1000px;
    margin: 0px auto
}

.flex-cont {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-grid {
    padding: 10px 0px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 10px;
}

#header-grid-column-1 {
    grid-column: span 2
}

#header-grid-column-2 {
    grid-column: span 8
}

#header-grid-column-3 {
    grid-column: span 2;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
}

.header-line {
    margin: 0px 30px;
    border-color: rgba(0, 0, 0, 0.1)
}

.nav-item-main {
    display: flex;
    justify-content: center;
    padding: 10px 0px
}

.nav-item-sub {
    font-family: Lato;
    font-weight: 500;
    gap: 40px;
    position: relative;
}

#dropdown-left {
    flex-basis: 45%;
    background: #eff8ff 0% 0% no-repeat padding-box;
    display: flex;
    flex-direction: column;
    margin: 0px;
    padding: 0px;
    font-weight: 600;
}

#dropdown-right {
    flex-basis: 55%
}

#dropdown-right-sub {
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.dropdown-right-single-item {
    display: flex;
    align-items: center;
    gap: 50px
}

.search-container {
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin-bottom: 20px; */
}

.search-input {
    border: none;
    border-radius: 5px;
    width: 100%;
    margin-right: 10px;
    background-image: url('/Assets/images/search.png');
    /* Add search icon */
    background-repeat: no-repeat;
    background-position: left 10px center;
    background-size: 15px;
    background-color: #fff;
    box-shadow: 0px 3px 23px #00000014;
    border-radius: 30px;
    padding: 10px 40px;
    color: rgba(0, 0, 0, 0.4);
    font-size: 17px;
    font-family: Poppins;
}

.search-input::placeholder {
    color: rgba(0, 0, 0, 0.4);
}

.search-input:focus {
    outline: none;
}

.search-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    padding: 10px 30px;
    font-size: 18px;
    font-family: Poppins;
}

/* Footer */
.footer-main-cont {
    background-color: #363434;
    padding: 10px
}

.subscribe-row {
    margin-top: -80px
}

.subscribe-sub-row {
    background: linear-gradient(to bottom right,
            #085fa7,
            #1388e5);
    padding: 30px 100px;
    z-index: 200;
}

.subscribe-col-1 {
    display: flex;
    align-items: center;
    gap: 30px
}

.subscribe-col-2 {
    gap: 10px
}

.footer-desc-row {
    height: 500px;
}

.footer-grid-row {
    display: grid;
    grid-template-columns: repeat(6, 1fr) repeat(6, 1fr);
    grid-gap: 10px;
    z-index: 1;
}

.footer-grid-col1 {
    grid-column: span 6;
    max-width: 450px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 20px;
}

.footer-grid-col2 {
    grid-column: span 6;
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

.footer-icon-cont {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}

.grey-text {
    color: #aeaeae
}

.grey-border {
    border-color: #aeaeae;
    border-width: 2px;
    border-style: solid;
}


.icons {
    height: 20px;
}

.email-input {
    border: none;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0px 3px 23px #00000014;
    border-radius: 30px;
    padding: 10px 30px;
    color: rgba(0, 0, 0, 0.4);
    font-size: 13px;
    font-family: Poppins;
}

.email-input:focus {
    outline: none;
}

.checkout-button {
    background-color: #1388E5;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 15px 20px;
    cursor: pointer;
    width: 100%;
}

.number-input {
    border: 1px solid #D2D2D2;
    outline: none;
    font-size: 16px;
    width: 90px;
    height: 40px;
    border-radius: 10px;
    padding: 5px 10px;
}

.card-container {
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: center;
    gap: 20px;
    margin-bottom: 50px;
    /* Adjust margin to create space for the button */
    z-index: -100;
}

.f-card {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 3px 6px #00000029;
    z-index: -10;
}

.f-card img {
    display: block;
    margin: 0 auto;
    width: 200px;
    height: auto;
}

.btn-container {
    text-align: center;
    padding-bottom: 20px;
    z-index: 200
}

.btn {
    padding: 12px 30px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    z-index: 200;
    font-family: Lato;
    font-weight: 700;
}

.btn:hover {
    background-color: #0056b3;
}

.input-field {
    border: 1px solid #D2D2D2;
    border-radius: 5px;
    padding: 10px 8px;
    width: 100%;
    background-color: #ffff;
}

.input-field:focus {
    outline: none;
}

.text-area {
    border: 1px solid #D2D2D2;
    border-radius: 10px;
    padding: 8px;
    width: 100%;
    height: 150px;
    resize: vertical;
    box-shadow: 0px 3px 6px #00000029;
}

.text-area:focus {
    outline: none;
}

.custom-select {
    border: unset;
    width: 100%;
    min-width: 250px;
    padding: 0.75rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    appearance: none;
    background-image: url('/Assets/images/downArrow.png');
    background-repeat: no-repeat;
    background-position: right 0.7rem top 50%;
    background-size: 1rem auto;
    box-shadow: 0px 3px 6px #00000029;
}

.custom-select:focus {
    outline: none;
    /* Remove outline on focus */
}


/* Slideshow container */
.slideshow-container {
    position: relative;
    margin: auto;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 16px;
    transition: 0.6s ease;
    user-select: none;
    background-color: #fff;
    border-radius: 100%;
    margin-left: 30px;
    margin-right: 30px;
}

.next {
    right: 0;
}


.text {
    color: #f2f2f2;
    font-size: 147px;
    font-weight: 700;
    padding: 8px 12px;
    position: absolute;
    bottom: 35%;
    width: 100%;
    text-align: center;
}


.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

.nav-item:hover {
    background-color: #1388E5;
    padding: 10px 20px;
    color: #fff;
    border-radius: 50px;
    transition: background-color 0.3s ease;
}

.nav-item {
    background-color: #fbfcff;
    padding: 10px 20px;
    /* color: #fff; */
    border-radius: 50px;
    transition: background-color 0.3s ease;
    font-weight: 500;
    font-size: 19px;
    cursor: pointer;
}


.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #ddd;
}

#myDropdown {
    width: 600px;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
    display: block;
}

.dropdown-item {
    padding: 5px 15px;
    cursor: pointer;
}

.dropdown-content .selected {
    background-color: #1388E542;
}

.mobile-icon {
    display: none;
}

.responsive-headers .mobile-header {
    display: none;
}
.resp-row-2 img{
    width: 120px;
    height: auto;
}

@media screen and (max-width: 1300px) {
    .subscribe-row .parent-max-width {
        max-width: 1100px;
    }

    .footer-desc-row .parent-max-width {
        max-width: 1000px;
    }

    .subscribe-sub-row {
        padding: 30px 80px;
    }

    .alert-container .parent-max-width {
        max-width: 1100px;
    }
}

@media screen and (max-width: 1100px) {
    .subscribe-row .parent-max-width {
        max-width: 900px;
    }

    .subscribe-sub-row {
        padding: 20px 60px;
    }

    .footer-desc-row .parent-max-width {
        max-width: 850px;
    }

    .alert-container .parent-max-width {
        max-width: 900px;
    }
}

@media screen and (max-width: 992px) {
    .subscribe-row .parent-max-width {
        max-width: 700px;
    }

    .subscribe-sub-row {
        padding: 15px 20px;
    }

    .footer-desc-row .parent-max-width {
        max-width: 650px;
    }

    .alert-container .parent-max-width {
        max-width: 700px;
        padding: 0px 20px;
        /* padding-top: 10px; */
    }

    .default-header {
        display: none;
    }

    .responsive-headers .mobile-header {
        display: block;
    }

    .resp-header-row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px 20px;
    }

    .nav-item-main {
        display: none;
    }

    .resp-row-3 {
        display: flex;
        gap: 20px;
    }

    .dropdown {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

@media screen and (max-width: 768px) {
    .alert-container .flex-cont{
        flex-wrap: wrap;
        justify-content: center;
    }
    .footer-main-cont {
        background-color: #363434;
        padding: 0px
    }

    .subscribe-row {
        margin-top: 0px
    }

    .subscribe-row .parent-max-width {
        width: 100%;
        gap: 0px;
    }

    .subscribe-sub-row {
        padding: 20px 20px;
    }

    .subscribe-sub-row .flex-cont {
        flex-direction: column;
        gap: 20px;
    }

    .subscribe-col-1 {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 30px;
    }

    .subscribe-col-2 {
        display: flex;
        align-items: center;
        justify-content: space-around !important;
        flex-direction: column;
        width: 100%;
        gap: 10px
    }

    .email-input {
        width: 100%;
    }

    .footer-desc-row {
        height: auto;
        padding: 30px 20px;
    }

    .footer-grid-row {
        display: grid;
        grid-template-columns: 12fr;
        grid-gap: 20px;
        z-index: 1;
    }

    .footer-grid-col1 {
        grid-column: span 12;
        max-width: 450px
    }

    .footer-grid-col2 {
        grid-column: span 12;
        display: flex;
        justify-content: space-between;
        gap: 50px;
        flex-wrap: wrap;
    }

    .footer-icon-cont {
        display: none;
    }

    .mobile-icon {
        display: flex;
        margin-top: 20px;
    }

    .footer-icon-mob-cont {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        gap: 10px;
        /* width: 100%; */
    }
}